.vscode/c_cpp_properties.json
.vscode/settings.json
.DS_Store
Piscine/Shell00 ult/ex03/id_rsa_pub.pub
main.c
Cursus/get_next_line/text.txt
.vscode/launch.json
.vscode/tasks.json
.clang-format
Cursus/.DS_Store
Cursus/get_next_line/get_next_line 2.0/text.txt
Cursus/Push_swap/push_swap
Cursus/Push_swap/push_swap_test.sh
Cursus/Push_swap/checker_Mac
