.vscode/c_cpp_properties.json
.vscode/settings.json
Cursus/libft/a.out.dSYM/Contents/Info.plist
.DS_Store
Piscine/Shell00 ult/ex03/id_rsa_pub.pub
main.c
Cursus/get_next_line/text.txt
.vscode/launch.json
.vscode/tasks.json
Cursus/get_next_line/a.out
Cursus/get_next_line/depurar
Cursus/get_next_line/depurar.dSYM/Contents/Resources/DWARF/depurar
Cursus/get_next_line/depurar.c
Cursus/get_next_line/depurar.dSYM/Contents/Info.plist
